.main
  .main-header
    .main-header-left 
      .main-header-left-top 
        = @group.name
      .main-header-left-bottom 
        - @group.users.each do |user|
          = user.name
    .main-header-right 
      =link_to edit_group_path(@group) do
        Edit
  .messages
    = render @messages

  .form
    .form-top
      .form-top-coment
        %input{type: "text", class: "form-top-coment-type", placeholder: "type a message"}
        .form-top-coment-photos
          %label{class: "input-box__image"}
            = link_to group_messages_path(@group) do
              = icon('fas', 'image')
              %input{type: "file",class:"form-top-coment-photo"}
      .form-top-coment-send
        %input{type: "submit", value: "send",class: "form-top-coment-send-btn"}

       