.side
  .side-header
    .top-items
      .name
        .user
          = current_user.name
        .icon
          = link_to new_group_path do
            %i.far.fa-edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
        


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージなし